<body>
<h1>Gara delle batterie eletromeccaniche</h1>
<input type="file" accept="image/*" name="immagine" id="immagine" capture="camera"/>
<marquee><label for="immagine"><h1>sceglimela</h1></label></marquee>
<textarea name="description" placeholder="scrivi qui una descrizione bellissima"/>
<input type="submit" value="inviamela" id="invia"/>
<script>
  function upload_handler(e) {
      const formData = new FormData()
      const fileField = document.querySelector('input[type="file"]');
      formData.append('edizione', 22);
      formData.append('immagine', fileField.files[0]);
      formData.append('description', document.querySelector('textarea[name="description"]').value);
      console.log(fileField.files.length);
      if(fileField.files.length) {
          document.getElementById("invia").removeEventListener('click', upload_handler);
      }
      fetch("/api/new_picture", {
	  method: 'PUT',
	  body: formData,
      }).then(function(response) {
	  console.log(response);
	  window.location.href='/'
      }).catch(function(error) {
	  console.log(error);
      });
  };
  document.getElementById("invia").addEventListener('click', upload_handler);
</script>
<style>
  body {
      background-color: #000;
      background-image: url('https://thishorsedoesnotexist.com/');
      background-size: contain;
      background-repeat: round;
  }
  h1 {
      font-size: 4em;
      color: #00dd73;
      word-break: break-word;
      background: -webkit-linear-gradient(#00ddee, #0f0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000;

  }
  input {
      display: block;
      margin-top: 20px;
      width: 100%;
      background: transparent;
      font-size: 2em;
      color: #0f0;
      border: none;
  }
  input[type=file] {
      display: none;
  }
  textarea {
      width: 98%;
      background: rgba(0,200,200,.7);
      font-size: 1.5em;
      resize: none;
      border: none;
      color: #fff;
  }
</style>
</body>
