<body>
  <a href="/"><h1>GBE</h1></a>
  <img src="${picture.thumbnail_1024x1024_url}"/>
  ${h.call_partial('tgcomments.partials:comments_for', entity=picture)}
  <!-- <py:for each="c in h.comments_for(picture)['comments']"> -->
  <!--   ${c} -->
    <!-- </py:for> -->

  <style>
    .tgcomments-commenting-user, .tgcomments-commenting-user-name, .tgcomments-author-name {
	display: none;
    }
    .tgcomments-creation-date {
	display: inline;
    }
    .tgcomments_comment_avatar {
	display: inline;
    }
    .tgcomments-buttons {
	display: none;
    }
    </style>
</body>
