<body>
<h1>Gara delle batterie elelelettroniche</h1>
<form action="/login_handler">
  <input name="login" placeholder="scrivi qui"/>
  <input type="password" name="password" placeholder="pass"/>
  <input type="submit" value="ammacca 'ca"/>
</form>
<style>
  body {
      background-color: #000;
      background-image: url('https://thiscatdoesnotexist.com/');
      background-size: contain;
      background-repeat: round;
  }
  h1 {
      font-size: 4em;
      color: #00dd73;
      word-break: break-word;
      background: -webkit-linear-gradient(#00ddee, #0f0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #000;

  }
  input {
      display: block;
      margin-top: 20px;
      width: 100%;
      background: transparent;
      font-size: 2em;
      color: #0f0;
      border: none;
  }
</style>
</body>
